<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1">
    <test thread-count = "5" name="Redirect">
        <classes>
            <class name="tests.Redirect"/>
        </classes>
    </test>
    <test thread-count = "5" name="Click Buttons">
        <classes>
            <class name="tests.ClickButtons"/>
        </classes>
    </test>
    <test thread-count = "5" name="JSON Schema Validator">
        <classes>
            <class name="tests.JSONSchemaValidator"/>
        </classes>
    </test>
</suite>